.env
./scripts/proxmox-inventory

# Terraform files
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.log
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json
terraform/.terraform/
terraform/.terraform.lock.hcl

# Ignore any .tfvars files that are likely to contain sensitive data
terraform/*.tfvars
terraform/*.tfvars.json

terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
terraform/*_override.tf.json

# Ignore CLI configuration files
terraform/.terraformrc
terraform/terraform.rc